.highlighted-card {
    border: 3px solid #ff4d4f;
    box-shadow: 0 0 10px rgba(255,77,79,0.6);
  }
  


.sqare-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0%;
    border: 3px solid #f2f2f2;
}
.sqare-cards{
    flex: 0 0 auto;
    scroll-snap-align: start;
    text-align: center;
    width: 120px;
}

.sqare-card-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    scrollbar-width: none; /* Firefox */
}