/* Desktop Navbar - visible only on wider screens */
.desktop-navbar {
    display: block;
  }
  
  /* Mobile Navbar - hidden by default */
  .mobile-navbar {
    display: none;
  }

  .mobile-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background-color: #fff;
    position: relative;
  }
  
  .mobile-cart-icon {
    cursor: pointer;
  }

  .page-title-indicator {
    font-weight: bold;
    color: #FF5733;
    margin-left: 15px;
    font-size: 14px;
  }

  .banner-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .banner-btn {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
  }
  
  .login-btn {
    background-color: #facc15;
    color: black;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    font-family: "Poppins", sans-serif;
  }
  
  .signup-btn {
    background-color: #3b82f6;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    
  }

  .logout-button{
    padding: 12px 24px;
    background-color: #ef4444; /* red-500 */
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
  }
  
  .logout-button:hover {
    background-color: #dc2626; /* red-600 */
    transform: scale(1.02);
  }
  
  @media (max-width: 768px) {
    .page-title-indicator {
      font-size: 12px;
      text-align: center;
    }
  }
  
  

  
  /* On small screens (mobile), switch visibility */
  @media (max-width: 768px) {
    .desktop-navbar {
      display: none;
    }
  
    .mobile-navbar {
      display: block;
    }
    .logo img {
        width: 50px;
        cursor: pointer;
      }  
  }
  